# URL сервиса авторизации
AUTH_SERVICE_URL=http://localhost:3001

# Настройки Kafka
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_CLIENT_ID=web_service
KAFKA_GROUP_ID=web_service_development

# Общие настройки приложения
APP_HOST=localhost
APP_PORT=3000

# Ключи для безопасного соединения между сервисами
INTER_SERVICE_API_KEY=your_secure_api_key_here 